body {
  font-family: "Lato", sans-serif;
  text-align: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

thead {
  background-color: #a9d1fe;
}

select {
  background-color: #deeefc !important;
}

code {
  color: black;
}

.hidden {
  display: none;
}

.title {
  margin: 1rem 0;
  font-size: 3rem;
}

.results-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 3rem;
}

.subhead {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.searchBody {
  width: 60%;
  margin: auto;
  margin-top: 6rem;
  padding: 2rem;
  background: rgb(148, 187, 233);
  background: radial-gradient(
    circle,
    rgba(148, 187, 233, 1) 65%,
    rgba(238, 174, 202, 1) 100%
  );
}

.searchWrapper {
  min-height: 79vh;
}

.resultsWrapper {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 0;
}

.resultsTable {
  background: rgb(222, 238, 252);
  background: linear-gradient(
    180deg,
    rgba(222, 238, 252, 1) 27%,
    rgba(169, 209, 254, 1) 54%,
    rgba(148, 187, 233, 1) 84%,
    rgba(238, 174, 202, 1) 100%
  );
}

.col {
  padding: 0.5rem;
}

.search-button {
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #893dff;
}

.search-button:hover,
.search-button:active {
  background-color: #a56bff;
}

.logo {
  display: inline-block;
}

.footer {
  padding: 2rem 5rem;
}

.whisper-button {
  padding: 2px 5px;
}

.back-button {
  margin-top: 1.7rem;
  border: none;
}

.back-button:hover {
  background-color: transparent;
}

.modal-content {
  background: rgb(148, 187, 233);
  background: radial-gradient(
    circle,
    rgba(148, 187, 233, 1) 65%,
    rgba(238, 174, 202, 1) 100%
  );
}

.head-section {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 0) 80%
    ),
    url(space_banner.jpg);
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

.message-seller {
  margin-left: 0.5rem;
}

.seller-icon,
.back-icon {
  color: #893dff;
}

.seller-icon:hover,
.back-icon:hover {
  color: #a56bff;
}

.offline-toggle {
  margin-top: 2.2rem;
  padding: 4px;
  font-size: medium;
  background-color: #893dff;
  color: white;
  border-color: #893dff;
}

.offline-toggle:hover {
  background-color: #a56bff;
  border-color: #a56bff;
}

@media only screen and (max-width: 991.98px) {
  .searchBody {
    width: 90%;
    margin-top: 1rem;
  }

  .offline-toggle {
    margin-top: 1.5rem;
  }

  .resultsWrapper {
    margin: 0 !important;
    padding: 0;
  }
  .results-title {
    font-size: 2rem;
    margin: auto;
    margin-top: 1rem;
    padding: 0;
  }
  .offline-toggle {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .back-button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .resultsBody {
    font-size: 80%;
  }
}

@media only screen and (max-width: 575.98px) {
  /* Index page */
  .searchBody {
    margin-top: 0.6rem;
    padding-top: 0.5rem;
    width: 95%;
  }
  .row {
    display: block;
  }
  .logo {
    width: 50%;
    height: 50%;
  }
  .title {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .subhead {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .search-button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .col {
    padding: 0.3rem;
  }

  /* Results page */

  .head-section {
    margin: auto;
    width: 121%;
  }
  .results-title {
    margin: auto;
    font-size: 2rem;
  }
  .resultsTable {
    font-size: 0.8rem;
  }
  .whisper-button {
    font-size: 0.7rem;
  }
  .back-button {
    margin: auto;
    margin-top: 0.7rem;
  }

  .offline-toggle {
    margin: 0.7rem;
  }
  table {
    width: auto !important;
  }
  .footer {
    width: 121%;
  }
}
